<div class="row">

  <div class="col-lg-3">
    <div class="card bg-light">
      <div class="card-header">
        <i class="fas fa-user"></i>
        Your Info
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" id="profileId">Employee ID: 10</li>
        <li class="list-group-item" id="profileName">Bobby McBobface</li>
        <li class="list-group-item" id="profileEmail">yourmom@123.com</li>
      </ul>
      <div class="card-footer announcement-bottom">
        <a href="updateinfo">
          Edit Info
          <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>

</div>
